a.tbl-cate {
	width: 100%;
	height: 20px;
	font-size: 10pt;
	text-decoration: none;
	padding: 3px 0px 5px 5px;
	word-break: normal;
	font-weight: bold;
	background-color: #728C91;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #728C91 #728C91 #728C91 #728C91;
}

a.tbl-cate:link {
  color: #FFFFFF;
}

a.tbl-cate:visited {
  color: #FFFFFF;
	text-decoration:	none;
}

a.tbl-cate:hover {
  color: #666666;
	background-color: #a3b5bc;
  text-decoration: none;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #728C91 #728C91 #728C91 #728C91;
}

a.tbl-cate:active {

}

.tbl-cat {
	background-color: #a3b5bc;
	font-size: 9pt;
}
